{% extends 'temp/pharmacy_free.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center>
	<h1>view delivery status</h1>
	<table border="1" class="table table-striped table-bordered">

		<tr>
			<th>order id</th>
			<th>delivery agent</th>
			<th>status</th>
		</tr>
         {% for i in x %}
		<tr>
			<td>{{ i.order_id }}</td>
			<td>{{ i.agent.name }}</td>
			<td>{{ i.status }}</td>
		</tr>
        {% endfor %}
	</table>
            <button class="btn btn-outline-primary"><a href="/temp/pharmacy/">Cancel</a> </button>

</center>
</body>
</html>
{% endblock %}