{% extends 'temp/user_free.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center>
	<h1>view reply</h1>
	<table border="1" class="table table-striped table-bordered">

		<tr>
			<th>complaint</th>
			<th>reply</th>
		</tr>
        {% for i in x %}
		<tr>
			<td>{{ i.complaint }}</td>
			<td>{{ i.reply }}</td>
		</tr>
        {% endfor %}
	</table>
                <button class="btn btn-outline-primary"><a href="/temp/user/">Cancel</a> </button>

</center>
</body>
</html>
{% endblock %}