<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center>
	<h1>View Order</h1>
	<table border="2">

		<tr>
			<th>Medicine</th>
			<th>Details</th>
			<th>User</th>
			<th>Quantity</th>
			<th>amount</th>
		</tr>
         {% for i in x %}
		<tr>
			<td>{{ i.medicine.name }}</td>
			<td>{{ i.medicine.description }}</td>
			<td>{{ i.user.name }}</td>
			<td>{{ i.quantity }}</td>
			<td>{{ i.medicine.price }}</td>
             <td><a href="/payment/post_payment/{{ i.order_id }}">Pay</a></td>

        {% endfor %}
	</table>
</center>
</body>
</html>