{% extends 'temp/user_free.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<center>
	<h1>view medicine order</h1>
	<table border="2" class="table table-striped table-bordered">
		<tr>
			<th>Medicine name</th>
			<th>price</th>
{#            <th>quantity</th>#}
            <th>description</th>
		</tr>
        {% for i  in x %}
		<tr>
            <td>{{ i.name }}</td>
			<td>{{ i.price }}</td>
{#            <td>{{ i.quantity }}</td>#}
            <td>{{ i.description }}</td>
			<td><a href="/order/post_order/{{ i.medicine_id }}">Order</a></td>
		</tr>
        {% endfor %}
	</table>
</center>
</body>
</html>
{% endblock %}